
body {
	font-family: Arial;
	padding: 20px
}




/*-------Styles for homepage -------*/
.navbar-home {
	background-color:  #211b1b;
	overflow: hidden;
	font-family: Arial;
}

.navbar-home a {
	float: left;
	text-decoration: none;
	padding: 14px 16px;
	color: white;
	font-size: 16px;
	text-align: center;
}

.navbar-home a:hover {
	background-color: #FD0404;
}

.navbar-home-right {
	float: right;
	overflow: hidden;
}


.navbar-right {
	padding: 14px 16px;
	color: white;
	border: none;
	outline: none;
	font-size: 16px;
	background-color: #4CAF50;
	cursor: pointer;	
}

/*-------End of Styles for homepage -------*/

/*---- style login page-----*/

.img-logo {
	text-align: center;
}

.login-img-logo {
	border-radius: 50%;
	width: 30%;
}

.login-modal {
	padding: 16px;
	width: 80%;
	margin: auto;
}

.login-form input[type="text"],
.login-form input[type="email"],
.login-form input[type="password"] {
	width: 100%;
	padding: 8px 10px;
	border: 1px solid #ddd;
	box-sizing: border-box;
	display: inline-block;
	border-radius: 2px;
	margin: 8px 0;
}

.login {
	width: 50%;
	padding: 10px 10px;
	border: none;
	outline: none;
	font-size: 16px;
	color: white;
	margin-bottom: 12px;
	margin-right: px;
	background-color: #4CAF50;
	cursor: pointer;
}

.sign-up {
	width: 100%;
	padding: 9.5px 173px;
	border: none;
	font-size: 16px;
	outline: none;
	color: white;
	margin-bottom: 12px;
	text-decoration: none;
	background-color: purple;
}

.login:hover, 
.sign-up:hover,
.cancel:hover {
	opacity: .8
}

.modal {
	position: fixed;
	 /* sit on top*/
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color:rgba(0, 0, 0, .4);
	padding-top: 60px;
}

.login-content {
	padding: 16px;
	background-color: #fefefe;
	margin:5px auto;
	border: 1px solid #888;
	width: 60%;
	border-radius: 5px;
}

.cancel {
	padding: 14px 16px;
	color: white;
	border: none;
	outline: none;
	font-size: 16px;
	border-radius: 2px;
	background-color: red;
}

.forgetpwd {
	float: right;
	padding: 16px
}

/*----End of style for login page-----*/


/*----style for signup page-----*/
.signup-sign-up {
	width: 100%;
	padding: 9.5px 173px;
	border: none;
	font-size: 16px;
	outline: none;
	color: white;
	margin-bottom: 12px;
	text-decoration: none;
	background-color: purple;
}


/*----End of style for signup page-----*/



/*------ style for about us page----------- */

.about-main-row {
	margin-top: 5px;
	text-align: center;
	width: 100%;
}

.col-25 {
	width: 25%;
	float: left;
	border: 1px solid #ddd;
	padding: 16px;
	

}

.profile {
	text-align: center;
}

.profile-photo {
	border-radius: 50%;
	width: 70%;
}

.col-75 {
	width: 65%;
	float:left;
	border: 1px solid #ddd;
}
/*------ End of style for about us page------ */

/*------ style for contact us page----------- */

.main-body-contact {
	padding: 16px;
}

.contact-form {
	padding: 16px;
}



.form-contact input[type="text"], 
.form-contact input[type="email"] {
	width: 100%;
	padding: 8px 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	margin-bottom: 12px;
}

.form-contact textarea {
	width: 100%;
	height: 200px;
	padding: 5px 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	margin-bottom: 12px;
}

.contact-form-submit {
	padding: 10px 16px;
	border: none;
	outline: none;
	background-color: #4CAF50;
	border-radius: 3px;
	color: white;
}

.contact-form-submit:hover {
	opacity: .8
}

/*------ End of style for contact us page------ */

/*------ style for blog page----------- */

.main-body-blog {
	text-align: center;
}

.main-left {
	width: 75%;
	background-color: green;
	float: left;
	height: 600px;
}

.main-right{
	width: 25%;
	background-color: blue;
	float: left;
	height: 600px;
}

/*------ End of style for blog page------ */

.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
	from {-webkit-tranform: scale(0)}
	to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
	from {transform: scale(0)}
	to {transform: scale(1)}
}